html
  head
    title= title
    
    script(type-"text/javascript").
      var csrf= csrf
  body
    #react-container
    script(type="text/javascript" src="/public/js/bundle.js")<script type="text/javascript" src="bundle.js"></script>