@import 'components/main';

#root {
  width: 100%;
  display: grid;
  grid-gap: 2px;
  margin: 0;
  grid-template-columns:  auto;
  grid-template-rows: auto auto;

}

.hidden {
  display: none;
}

.message-block {
  color: green;
}

.has-error {
  color: red;
}

body { 
  margin: 0;
  background-color: lighten(lightgrey, 10%);
}