@import 'components/main';
@import 'components/navbar';
@import 'components/article';

@background: lighten(lightgrey, 5%);

@nav-background: darken(@background, 70%);
@nav-hover: darken(@nav-background, 20%);
@nav-text: lighten(@nav-background, 100%);
@nav-active: #4CAF50;
@nav-select: red;

@error: red;
@success: green;

@main-text: black;
@main-accent: lighten(@background, 10%);

.root {
  width: 100%;
  display: grid;
  grid-gap: 5px;
  margin: 0;
  grid-template-columns:  auto;
  grid-template-rows: auto auto;
}

.hidden {
  display: none;
}

.message-block {
  color: @success;
}

.has-error {
  color: @error;
}

body { 
  margin: 0;
  background-color: @background
}