nav {
  grid-column: 1;
  grid-row: 1;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: @nav-background;
}

nav li a {
  float: left;
  display: block;
  color: @nav-text;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a.navbar-menu-button {
  float: right;
  cursor: pointer;
}

nav li a:hover {
  background-color: @nav-hover;
  text-decoration: none;
  color: darken(@nav-text, 10%);
}


.dropdown {
  float: right;
  overflow: hidden;
  
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: @nav-text;
  padding: 14px 16px;
  background-color: inherit;
  cursor: pointer;
  font-family: inherit; 
  margin: 0;
  min-width: 140px;
}

.dropdown:hover .dropbtn {
  background-color: @nav-select;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: lighten(@background, 5%);
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: @main-text;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
  cursor: pointer;
}

.dropdown-content a:hover {
  background-color: darken(@background, 15%);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.active {
  background-color: @nav-active;
  color: @main-text;
}

.active:hover {
  background-color: darken(@nav-active, 10%);
  text-decoration: none;
  cursor: default;  
}